@use '../../theme';
nav {
  min-width: 100vw;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background: white;
  background: theme.$violet;
  h1 {
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
  }

  figure {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    right: 2rem;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
    div {
      position: absolute;
      top: 0;
      right: 0;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      font-size: 1.2rem;
      color: white;
      background-color: theme.$blue;
      border-radius: 50%;
    }
  }
}
