@use '../../theme';
nav {
  min-width: 100vw;
  height: 6rem;
  background-color: theme.$blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: theme.$font-color;
  h1 {
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
  }

  figure {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    right: 2rem;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
