$deep-blue: #0b2038;
$violet: #4b4089;
$blue: #0080ff;
$water-green: #3e8374;
$font-color: #050f1a;
$font-alternative-color: #fff;
$background: rgb(0, 128, 255);
$background-gradient: linear-gradient(
  60deg,
  rgba(0, 128, 255, 0.3) 0%,
  rgba(120, 64, 137, 0.3) 50%,
  rgba(75, 64, 137, 0.3) 100%
);
$background-radial: radial-gradient(
  circle,
  rgba(0, 128, 255, 0.2) 0%,
  rgba(120, 64, 137, 0.2) 50%,
  rgba(75, 64, 137, 0.2) 100%
);
